<template>
  <q-page padding>
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" :to="{ name: 'GeneralIndex' }" />
      <q-breadcrumbs-el label="Cats" />
    </q-breadcrumbs>

    <h1>Cat Facts</h1>
    <q-btn label="+ Add New Fact" color="positive" class="q-mb-md" @click="showModalCreateFact = true" />

    <q-infinite-scroll @load="loadMore" :offset="infiniteScrollOffset">
      <div class="row wrap">
        <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12" v-for="fact in catsStore.facts" :key="fact.id">
          <q-card class="q-ma-md">
            <q-card-section>
              <div class="text-h6">{{ fact.fact }}</div>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn @click="editFactModal(fact.id, fact.fact )" ><q-icon name="edit" /></q-btn>
              <q-btn @click="deleteFact(fact.id)" color="negative" ><q-icon name="delete" /></q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </q-infinite-scroll>

    <q-dialog v-model="showModal">
      <q-card>
        <q-card-section>
          <q-form @submit.prevent="onSubmitEdit">
            <q-input
              outlined
              v-model="editFact"
              label="Fact"
              :rules="[value => !!value || 'A fact is Required']"
            />
            <q-btn type="submit" color="positive" label="Save Fact" class="q-mt-md" />
          </q-form>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn @click="showModal = false" flat label="Close" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="showModalCreateFact">
      <q-card>
        <q-card-section>
          <q-form @submit.prevent="onSubmitCreate">
            <q-input
              outlined
              label="Fact"
              v-model="newFact"
              :rules="[value => !!value || 'A fact is Required']"
            />
            <q-btn type="submit" color="positive" label="Save Fact" class="q-mt-md" />
          </q-form>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn @click="showModalCreateFact = false" flat label="Close" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-btn label="+ Add New Fact" color="positive" class="q-mb-md" @click="showModalCreateFact = true" />
  </q-page>
</template>

<script lang="ts" setup>
import useCatsStore from 'stores/cats'
import { onMounted, ref, reactive } from 'vue'

const loading = ref(false)
const showModal = ref(false)
const showModalCreateFact = ref(false)
const editFact = ref('')
const newFact = ref('')
const editFactId = ref(0)
const infiniteScrollOffset = 350
let infiniteScrollEnd = false

const catsStore = reactive(useCatsStore())

const pagination = ref({
  sortBy: 'desc',
  descending: false,
  page: 1,
  rowsPerPage: 18,
  rowsNumber: 0
})

function editFactModal (factId: number, fact: string) {
  editFact.value = fact
  editFactId.value = factId
  showModal.value = true
}

function deleteFact (id: number) {
  if (confirm('Are you sure you want to delete this fact? THIS ACTION CANNOT BE UNDONE!')) {
    catsStore.deleteFact(id)
      .then(() => {
        const index = catsStore.facts.findIndex((fact) => fact.id === id)
        catsStore.facts.splice(index, 1)
      })
  }
}

const loadMore = async (index : number, done: () => void) => {
  pagination.value.page = index + 1
  const { page, rowsPerPage } = pagination.value
  if (infiniteScrollEnd) {
    return
  }
  setTimeout(() => {
    loading.value = true
    catsStore.getAllFactsInfiniteScroll({ pageSize: rowsPerPage, page })
      .then((resp) => {
        if (resp.data.last_page === resp.data.current_page) {
          infiniteScrollEnd = true
        }
        loading.value = false
        pagination.value.rowsPerPage = resp.data.per_page
        pagination.value.page = resp.data.current_page
        done()
      })
  }, 1000)
}

onMounted(() => {
  loading.value = true
  catsStore.getAllFacts({ pageSize: pagination.value.rowsPerPage })
    .then((resp) => {
      const totalPages = resp.data.total as number
      pagination.value.rowsNumber = Math.ceil(totalPages / pagination.value.rowsPerPage)
      loading.value = false
    })
})

function onSubmitEdit () {
  const fact = {
    fact: {
      value: editFact.value
    }
  }
  catsStore.updateFact(editFactId.value as number, fact)
    .then(() => {
      const index = catsStore.facts.findIndex((fact) => fact.id === editFactId.value)
      catsStore.facts[index].fact = editFact.value
      showModal.value = false
    })
}

function onSubmitCreate () {
  const fact = {
    fact: {
      value: newFact.value
    }
  }
  catsStore.storeFact(fact)
    .then(() => {
      showModalCreateFact.value = false
      newFact.value = ""
    })
}
</script>
